@import url('https://fonts.googleapis.com/css2?family=Karma:wght@400;500;600;700&family=Oswald:wght@300;700&family=Raleway:wght@200;400;500;800&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=PT+Serif:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Karma';
    background-color: #f5f2f0;
}
.bg-image>img{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 40vw;
    height: 127%;
    object-fit: cover;
    
}

nav{
    position: relative;
    display: flex;
    align-items: center;
    margin: 4.125em 2.5em 4.125em 6.25em;
    font-weight: 500;

}

nav>ul{
    position: relative;
    margin-left: auto;
    display: flex;
    list-style-type: none;
    gap: 3em;
    color: #aeacac;
    font-size: 1rem;
}

nav>ul::before{
    position: absolute;
    content: '';
    width: 22vw;
    height: 2px;
    background-color: #000000;
    top: 12px;
    left: -24vw;
}
nav>ul>li:first-child{
    color: #717070;
}

div.sections{
    margin-left: 42vw;
}

p.heading{
    font-size: 7.5rem;
    font-weight: 700;
    font-family: 'PT Serif';
    color:#ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

span.bolder{
    position: absolute;
    font-family: 'PT Serif';
    font-size: 7.5rem;
    font-weight: 900;
    bottom: -93px;
    left: 125px;
    color: #333333;
}

section.middle{
    position: relative;
    display: flex;
    margin-bottom: 6.25em;
    gap: 11.25em;
}

div.icons{
    position: absolute;
    top: 94px;
    right: 67px;
    display: flex;
    flex-direction: column;
    height: 372px;
    justify-content: space-evenly;
}


p.line{
    position: relative;
    white-space: pre-line;
    top: 75px;
    align-self: flex-end;
    font-size: 32px;
    color: #a6a5a5;
}

.social-icon{
    width: 20px;
}

section.bottom{
    display: flex;
    gap: 50px;
    margin: 0px 40px;
}

p.tag-line{
    white-space: pre-line;
}

ul.pointer-list{
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 40px;
    font-size: 25px;
}
ul.pointer-list::before{
    position: absolute;
    content: '';
    height: 400px;
    width: 2px;
    background-color: #a6a5a5;
    bottom: -70px;
    left: -20px;
}
ul.pointer-list>li{
    position: relative;
    color: #a6a5a5;
}
ul.pointer-list>li::before{
    position: absolute;
    content: "•";
    font-size: 62px;
    top: -22px;
    left: -33px;
    color: #a6a5a5;
}

ul.pointer-list>li:first-child{
    position: relative;
    color: rgb(52,52,52);
}

ul.pointer-list>li:first-child::before{
    position: absolute;
    content: "•";
    font-size: 83px;
    top: -34px;
    left: -37px;
    color: rgba(52,52,52,0.8);
}

p.quote{
    font-size: 140px;
    padding: 0;
    margin: 0;
    height: 48px;
}

p.tag-line{
    color: #000000;
    font-size: 22px;
    margin-bottom: 10px;
}

div.quote>img{
    width: 350px;
}

div.arrow{
    position: absolute;
    bottom: -27px;
    right: 100px;
}

button.pkg{
    display: block;
    margin: 0 80px 0 auto;
    width: 250px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    background-color: #333333;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 1.75em;
    right: 1.5em;
    height: 20px;
    width: 30px;
    cursor: pointer;
}

span.bar {
    width: 100%;
    height: 3px;
    background-color: #b8b3bb;
    transition: background-color 300ms ease-in-out;
}
@media(max-width:500px)
{
    html{
        font-size: 10px;
    }
    .bg-image>img{
        display: none;
    }

    div.sections{
        margin-left: 0;
    }

    nav ul{
        display: none;
    }
    .hamburger{
        display: flex;
    }

    div.icons{
        display: none;
    }

    p.heading{
        margin-left: 10px;
    }

    span.bolder{
        position: absolute;
        font-family: 'PT Serif';
        font-size: 7.5rem;
        font-weight: 900;
        bottom: -70px;
        left: 125px;
        color: #333333;
    }

    p.line{
        font-size: 2.5rem;
        left: 1em;
        top: 2.5em;
    }

    div.arrow{
        display: none;
    }
    div.btn{
        margin-top: 8em;
    }
    button.pkg{
        font-size: 1.5rem;
        width: 200px;
    }

    section.bottom{
        flex-direction: column-reverse;
        align-items:center
    }
    }
